{% extends "base.html" %}



{% block content %}
<h1 class="text-center">Task List</h1>
    <ul>
        {% for task in my_task_list%}
            <li class="m-3">
                id:{{task.id}} name:{{task.name}}
                <div class="btn-group" role="group">
                     <a type="button" class="btn btn-primary" href="{% url 'view_task' task.id %}">view</a>
                    <button type="button" class="btn btn-secondary">update</button>
                    <label type="button" class="btn btn-danger" for="submit_delete">delete</label>
                </div>
                <form action="{% url 'view_task' task.id%}" method="POST" style="display: none">
                {% csrf_token %}
                <input type="text" name="op" value="DELETE">
                <input type="submit" id="submit_delete" value="deletarrase" >
                </form>
            </li>    
        {% endfor %}
    </ul>
<a href="{% url 'form' %}" class="btn btn-warning">
<span class="h5">+</span> add task</a>
{% endblock content %}

